code:not(._something_to_ignore_) {
    border: 2px lightslategray;
    border-radius: 4px;
    padding: 3px;
    background-color: lightgray;
    color: dimgray !important;
    white-space: nowrap;
}

pre code:not(._something_to_ignore_) {
    background-color: rgba(0, 0, 0, 0);
    white-space: pre-wrap;
}
